{% extends 'base.html' %}

{% block content %}

<h1 class="blog">Welcome to SIZWA Blogging site<p style="font-size:40px">&#129321;</p></h1>
<br><br>
<!-- <div class="row">
    <p class="create">This is a personal blogging website where you can create and share <br> your opinions other users can read and comments on them.<br> Sounds interesting right?  <span style="font-size:40px">&#128515;</span> <span style="color: white;"> </p>
</div> -->
<br> 
<div class="button">
    <p>click the button below to get started</p>
    <a class="btn btn-success btn-lg" href="/login">CREATE BLOGS</a>
    <button class="btn btn-info btn-lg" href="/login">VIEW BLOGS</button>
</div>
{% endblock %}